<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> All Melons</title>
</head>

  
    
<body id="bg3">
    {%extends "base.html"%}

    {%block body%}

    <div class="melon-list">
        {%for melon in melon_list%}
        <div class="card text-center text-dark" id="card">
            <img class="melon-image" src="{{ melon.image_url }}">
            <a href="{{url_for('melon_details', melon_id=melon.melon_id)}}">
                <button type="button" class="btn btn-outline-secondary"><h2 class="text-dark">{{melon.common_name}}</h2></button>
            </a>
            <h3>${{"%0.2f" | format(melon.price)}}</h3>
        </div>    
        {%endfor%}
    </div>
    {%endblock%} 
</body>
</html>