<html>
<head>
    <title>Melon Madness!!!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/site.css"/>
</head>

<body id="bg1">
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand text-warning" href="/">Ubermelon</a>
            <div class="collapse navbar-collapse">
                <div class="navbar-nav">
                    <a class="nav-link" href="/melons">All Melons</a>
                    <a class="nav-link" href="/cart">Cart</a>
                    {% if "username" in session %}
                        <a class="nav-link" href="/logout">Log Out</a>
                    {% else %}
                        <a class="nav-link" href="/login">Log In</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>

  <div class="container">
    {%for message in get_flashed_messages()%} 
        <p class="alert alert-warning">{{message}}</p>
    {%endfor%} 
    <!-- This is where the main content goes. -->
    {% block body %}

            <h1 class="text-center" id="title">A Slice of Heaven - Our Melons Will Make Your Day!!</h1> 

    {% endblock %}

  </div>

</body>
</html>
