<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
</head>
 
<body id="bg2">
    {%extends "base.html"%} 

    {%block body%} 
    
    <table class="table table-secondary table-striped mt-3"> <!--creates a table to display info-->
        <thead> <!--table headers-->
            <tr> <!--table row-->
                <th class="text-dark">Melon Name</th>
                <th class="text-dark">Quantity</th>
                <th class="text-dark">Price</th>
                <th class="text-dark">Total</th>
            </tr>
        </thead>
        <tbody>
            {% for melon in cart_melons%} <!--loops through melons in cart -->
            <tr> <!--values displayed in the rows of the table-->
                <th>{{melon.common_name}}</th> <!--a cell in a row-->
                <th>{{melon.quantity}}</th>
                <th>{{"%0.2f" | format(melon.price)}}</th> <!--formats the price as a float with 2 decimal places-->
                <th>{{"%0.2f" | format(melon.total_cost)}}</th> <!--formats the total_cost as a float with 2 decimal places-->
            </tr>
            {%endfor%}
        </tbody>
    </table>
    
    <h3>Total: ${{ "%0.2f" | format(order_total) }}</h3> <!--formats the cart total as a float with 2 decimal places-->
    <a href="/empty-cart" class="btn btn-primary btn-danger">Empty Cart</a>
    {%endblock%} 

</body>
</html>