<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>

<div id="bg5">
{%extends "base.html"%} 


<body>
    
    {%block body%} 

    <div class="melon-deets">
        <h1>{{melon.common_name}}</h1>
        <img class="melon-image" src="{{melon.image_url}}"
        <br>
        <h3>Each: ${{"%0.2f" | format(melon.price)}} </h3>
        <h4>{{melon.color}}</h4>
        <ul class="seedless-bool">
            {%if melon.seedless%} 
                <li>Melon is Seedless!!!</li>
            {%else%} 
                <li>WARNING!!! Melon has Seeds!!!</li>
            {%endif%}
        </ul>
        <a class="add-button text-light
         "  href="{{url_for('add_to_cart', melon_id=melon.melon_id)}}">Add To Cart!</a>
    </div>

    {%endblock%} 
</div>
</body>
</html>